$breakpoints-down: (
  "sm": "max-width: 575.98px",
  "md": "max-width: 767.98px",
  "lg": "max-width: 991.98px",
  "xl": "max-width: 1199.98px",
  "xxl": "max-width: 1399.98px",
  "3xl": "max-width: 1599.98px",
  "4xl": "max-width: 1799.98px",
);

@mixin media-breakpoint-down($user-value) {
  $my-map: map-get($breakpoints-down, $user-value);

  @if $my-map {
    @media (#{$my-map}) {
      @content;
    }
  } @else {
    @error "Opps, seems like the breakpoint is missing ";
  }
}

@mixin media-breakpoint-up-custom($custom_breakpoint) {
  @media only screen and (min-width: $custom_breakpoint) {
    @content;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f1e9;
}

body p {
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

ul {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 95%;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}

.btn {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #44a676;
  border-radius: 5px;
  border: 0;
  font-weight: 600;
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;

  &:hover {
    color: #fff;
    background-color: #2f7f58;
  }
}
h2 {
  color: #003b34;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  text-align: center;

  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }
}

a {
  color: #44a676;
  text-decoration: underline;

  &:hover {
    color: #003b34;
  }
}

.deal-menu {
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
  opacity: 0;
  padding: 20px;
  border: 1px solid #003b34;
  border-radius: 10px;

  &.active {
    height: 325px;
    opacity: 1;
    transition: all 0.2s ease;
  }

  .form-label {
    width: 20px;
  }
}

.form-wrapper {
  padding: 40px 20px;

  @include media-breakpoint-down(md) {
    padding: 20px;
  }
  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }
  .integration {
    padding: 25px;

    @include media-breakpoint-down(md) {
      padding: 20px 15px;
    }
    @include media-breakpoint-down(sm) {
      padding: 20px 15px;
    }
  }
  .form-check-input:focus,
  .form-control:focus,
  .form-select:focus {
    box-shadow: none;
  }
  .schedule {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
    }

    .timing {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 10px;
      align-items: center;

      @include media-breakpoint-down(sm) {
        grid-template-columns: 1fr 1fr;
      }

      a {
        width: 100%;
      }
    }

    .sched {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      @include media-breakpoint-down(sm) {
        grid-template-columns: 1fr;
      }
    }
  }
  .form-label {
    margin-bottom: 5px;
  }
  h3 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    padding: 0;

    &::after {
      content: "";
      width: 100px;
      height: 1.5px;
      background-color: #2f7f58;
      border-radius: 20px;
      position: absolute;
      bottom: -2px;
      left: 0;
    }
  }
  ul {
    padding-left: 20px;
    margin-top: 10px;

    li {
      display: flex;
      align-items: center;

      @include media-breakpoint-down(md) {
        align-items: flex-start;
      }

      span {
        margin-right: 10px;
        max-width: 8px;
      }

      p {
        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
      }
    }
  }
  .vocal-campaigns-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        display: inline-flex;
        line-height: 22px;
      }
    }
  }
  .vocal-messages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
    }
  }
}

.weekDays-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px 0 5px 0;

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }

  input {
    display: none;
  }

  input[type="checkbox"] + label,
  button {
    display: inline-block;
    font-weight: 600;
    border-radius: 6px;
    background: #c6ffe4;
    border: 1px solid #dbdbdb;
    height: 40px;
    width: 50px;
    margin-right: 3px;
    // line-height: 40px;
    text-align: center;
    cursor: pointer;
  }

  &.campaigns-selector {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;

    input[type="checkbox"] + label {
      width: 100%;
    }
  }

  input[type="checkbox"]:checked + label,
  .active {
    background: #44a676;
    color: #ffffff;
  }
}
